@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
}

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.btn {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*csslint outline-none:false*/
.btn {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8); /* rgba supported */
  border: 1px solid #999; /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.btn-hover,
.btn:hover,
.btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000",GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.btn:focus {
  outline: 0;
}

.btn-active,
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000 \9 ;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-hidden {
  display: none;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

.btn-login {
  background-color: #F56C23;
  width: 125px;
}

.btn-register {
  background-color: #000000 35%;
  width: 125px;
}

img {
  max-width: 100%;
  height: auto;
}

/*色碼*/
/*ＲＷＤ*/
/*尺寸*/
.warp {
  max-width: 1024px;
  margin: 0 auto;
}

.slide {
  height: 420px;
  background-repeat: no-repeat;
  background-position: center center;
  background: url("../img/header_desktop.png");
}
@media (max-width: 375px) {
  .slide {
    background-image: url("../img/header_mob.png");
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
}
@media (max-width: 375px) {
  .header {
    flex-wrap: wrap;
  }
}

.bt-toggle {
  display: none;
  color: white;
  font-size: 24px;
}
@media (max-width: 375px) {
  .bt-toggle {
    display: inline-block;
  }
}

.logo {
  width: 70%;
  padding: 0 0 0 1em;
}
@media (max-width: 375px) {
  .logo {
    width: 80%;
    padding: 1em 0 1em 0;
  }
}
.logo a {
  display: block;
}
@media (max-width: 375px) {
  .logo a {
    width: 50%;
    padding-left: 3.2em;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  width: 50%;
}
@media (max-width: 375px) {
  .menu {
    display: none;
    width: 100%;
    z-index: 2;
  }
}
.menu li {
  text-align: center;
  width: 100%;
}
.menu li a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  font-size: 18px;
  color: white;
  background-color: black;
}
@media (max-width: 375px) {
  .menu li a {
    font-size: 18px;
    padding: 0.8em;
    letter-spacing: 0.8em;
    text-indent: 0.8em;
    background-color: #3D1101;
  }
}
.menu li a:hover {
  background: #3D1101;
}
@media (max-width: 375px) {
  .menu .menu .active {
    display: inline-block;
  }
}

/*slide標題*/
.title-1 {
  margin: 100px auto 0 auto;
  width: 40%;
  text-align: center;
  background-color: rgba(18, 10, 10, 0.5);
  z-index: 0;
}
@media (max-width: 375px) {
  .title-1 {
    position: absolute;
    top: 40px;
    width: 100%;
  }
}

h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  line-height: 1.2em;
  color: white;
  z-index: 2;
}

p {
  line-height: 2em;
  color: white;
}
@media (max-width: 375px) {
  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

@media (max-width: 767px) and (min-width: 376px) {
  .title-1 h2 {
    margin: 10px 0 0 0;
    font-size: 24px;
    line-height: 1.5em;
  }
  .title-1 p {
    font-size: 18px;
    line-height: 1.5em;
  }
}
/*slide 黑板*/
.menu-screen {
  display: none;
  height: 362px;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 375px) {
  .menu-screen {
    display: none;
    position: absolute;
    width: 100%;
    top: 59px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/*footer*/
.footer {
  display: flex;
  padding: 54px 2em 54px 2em;
  background: #eee9e7;
}
@media (max-width: 375px) {
  .footer {
    flex-direction: column;
    padding: 30px 1em 30px 1em;
  }
}
.footer p {
  color: #3D1101;
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 375px) {
  .footer p {
    padding: 5px 0 5px 0;
    line-height: 1.2;
  }
}
.footer h2 {
  color: #3D1101;
  font-size: 24px;
}

.about, .content {
  width: 22%;
  margin-right: 0.5em;
}
@media (max-width: 375px) {
  .about, .content {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}

.social {
  width: 57%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 375px) {
  .social {
    width: 50%;
    margin: 10px auto 0 auto;
  }
}
.social .f-logo {
  margin-top: 10px;
  display: flex;
}
@media (max-width: 375px) {
  .social .f-logo {
    margin: auto;
  }
}
.social .f-logo li {
  margin: 0.5em;
}
@media (max-width: 375px) {
  .social .f-logo li {
    margin: 1em;
  }
}

/*container*/
/*色碼*/
/*ＲＷＤ*/
.container {
  max-width: 100%;
  display: flex;
  padding: 2em;
}
@media (max-width: 768px) {
  .container {
    padding: 1em;
  }
}
@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }
}

.leftsidebar {
  width: 25%;
}
@media (max-width: 375px) {
  .leftsidebar {
    width: 100%;
  }
}

.submenu .topic {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .submenu .topic {
    text-align: center;
  }
}
.submenu span {
  padding-left: 0.2em;
  color: #3D1101;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .submenu span {
    height: 3em;
  }
}
.submenu li {
  width: 70%;
  height: 2.5em;
  padding: 0.2em 0 0.2em 0;
  border-bottom: 1px solid #3D1101;
}
@media (max-width: 375px) {
  .submenu li {
    width: 100%;
  }
}
.submenu a {
  display: block;
  padding-left: 1em;
  line-height: 2.5em;
  text-decoration: none;
  color: #3D1101;
}
@media (max-width: 768px) {
  .submenu a {
    height: 5em;
  }
}
@media (max-width: 375px) {
  .submenu a {
    text-align: center;
    height: 3em;
    line-height: 3em;
  }
}
.submenu a:hover {
  color: white;
  background-color: #3D1101;
}

.content {
  width: 75%;
}
@media (max-width: 375px) {
  .content {
    width: 100%;
  }
}

.topnav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .topnav {
    flex-direction: column;
  }
}
.topnav .buy {
  display: flex;
}
@media (max-width: 375px) {
  .topnav .buy {
    width: 97%;
    justify-content: center;
    background-color: #FF5E45;
    font-size: 24px;
    height: 46px;
    border-radius: 5px;
    border: 5px white double;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
@media (max-width: 375px) {
  .topnav .buy p {
    color: white;
    font-size: 24px;
  }
}

.search {
  width: 65%;
  position: relative;
  display: flex;
}
@media (max-width: 375px) {
  .search {
    width: 100%;
    margin: 1em 0 1.5em 0;
  }
}

.searchTerm {
  width: 100%;
  border: 3px solid #3D1101;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
@media (max-width: 375px) {
  .searchTerm {
    height: 28px;
  }
}

.searchTerm:focus {
  color: #3D1101;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #3D1101;
  background: #3D1101;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 375px) {
  .searchButton {
    height: 44px;
    font-size: 24px;
  }
}

.buy {
  align-items: center;
}
.buy li p {
  color: #3D1101;
}
.buy .linear {
  background-color: #3D1101;
  margin: 0 1em 0 1em;
  width: 2px;
  height: 28px;
}
@media (max-width: 375px) {
  .buy .linear {
    background-color: white;
  }
}

.btn-cart {
  display: block;
  font-size: 26px;
  color: #3D1101;
}
@media (max-width: 375px) {
  .btn-cart {
    color: white;
  }
}

.list-cart {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}
.list-cart li {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 7px -1px #A8A8A8;
  -webkit-box-shadow: 2px 2px 7px -1px #A8A8A8;
  -moz-box-shadow: 2px 2px 7px -1px #A8A8A8;
  -o-box-shadow: 2px 2px 7px -1px #A8A8A8;
}
@media (max-width: 375px) {
  .list-cart li {
    width: 100%;
  }
}
.list-cart li .tag {
  text-align: center;
  position: absolute;
  background-color: rgb(228, 3, 3);
  color: #fff;
  width: 80%;
  height: 18px;
  line-height: 18px;
  top: 20px;
  left: 48%;
  transform: rotate(45deg);
  border: 0.5px solid #000;
}
@media (max-width: 375px) {
  .list-cart li .tag {
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    font-weight: bolder;
    top: 22px;
    left: 49%;
  }
}
.list-cart li .btn-heart {
  position: absolute;
  margin: 0.1em 0em 0 0.2em;
  font-size: 22px;
}
@media (max-width: 375px) {
  .list-cart li .btn-heart {
    font-size: 30px;
  }
}
.list-cart li .btn-heart a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 25%;
  color: white;
}
.list-cart li .btn-heart .like {
  display: none;
  color: white;
  position: absolute;
  top: 0px;
  z-index: 0;
}
.list-cart li .btn-heart .unlike {
  z-index: 1;
}
.list-cart li p, .list-cart li h2 {
  text-align: center;
  color: #3D1101;
}
.list-cart li h2 {
  margin: 0.6em 0 0.7em 0;
}
.list-cart li .line {
  margin: auto;
  width: 100px;
  height: 1px;
  background-color: #3D1101;
}
.list-cart .li-no {
  box-shadow: 0 0 0 0 #ffffff;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 0 #ffffff;
  -o-box-shadow: 0 0 0 0 #ffffff;
}
.list-cart .btn-addcart {
  margin: 0 auto;
  margin-bottom: 1em;
  color: #FF5E45;
  width: 90%;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .list-cart .btn-addcart {
    width: 90%;
    height: 44px;
    font-size: 24px;
  }
}
.list-cart .btn-addcart a {
  display: block;
  width: 45%;
  margin: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  color: #FF5E45;
}
@media (max-width: 375px) {
  .list-cart .btn-addcart a {
    font-size: 20px;
  }
}