






/*色碼*/
$slbk-color:black;
$libk-color: rgb(226, 208, 43);
$font-color:#3D1101;
$sl-font-color:white;
$font-b:24px;
$font-l:18px;
$font-m:16px;
$font-s:14px;


/*ＲＷＤ*/
@mixin desktop{
    @media (max-width: 1280px) {
        @content
    }
}

@mixin pad{
    @media (max-width: 768px) {
        @content
    }
}


@mixin ph6{
    @media (max-width: 375px) {
        @content
    }
}

.container{
    max-width: 1024px;
    background-color: #eee9e7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.headline-1{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .line-dash1{
        position: absolute;
        top: 32px;
        width:40%;
        height:0.1em;
        background-color: #3D1101;

        @include ph6(){

            top: 29px;
            width:77%;
                    
            }
    }

    .line-dash2{
        position: absolute;
        top: 32px;
        width:18%;
        height:0.1em;
        background-color: #eee9e7;
        z-index: 1;

        @include ph6(){

            top: 29px;
            width:55%;
                    
            }
    }

    p{
        text-align: center;
        color:$font-color;

    }



}


.secret{
    display: flex;
    padding: 2em 3em 2em 3em;

    @include ph6(){

        padding: 1em 1em 1em 1em;
        flex-direction: column;
                
        }

    li{
        text-align: center;
        width: 30%;
        margin:0 1em 0 1em ;

        @include ph6(){

            width: 100%;
            margin:0 auto;
            margin-bottom: 1em;
                    
            }

    }

    h2{ 
        margin-top:1em ;
        text-align: center;
        color:$font-color;
        font-size: $font-m;
    }


    p{
        text-align:left;
        color:$font-color;
        width: 100%;
        line-height: 24px;

        @include ph6(){

            text-align: justify;
            text-justify: auto;
                    
            }

    }



}

//廚師介紹

.chef{
    background-color:$font-color;
    padding:30px 0.1em 30px 0.1em;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;

    .img-chef{
        max-width: 50%;

        @include ph6(){

            max-width: 100%;
                    
            }
    }
  
    .introduce{
        max-width: 50%;
        padding: 1em;

        @include ph6(){

            max-width:100%;
                        
                }

         .headline-2{
             font-size:24px;
         }        

         .name{
             font-size:14px;

        @include ph6(){

            margin-bottom: 1em;
                            
                    }
         }

         .words-chef{
            text-align:left;
            width: 100%;
            line-height: 26px;

            @include ph6(){

            text-align: justify;
            text-justify: auto;
                        
                }
         }

    }
  
}

//顧客推薦

.feedback{


    padding-bottom: 3em;

    .headline3{

        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        p{
            font-size:$font-b;
            color: $font-color;

        }

    }



    ul{
        display: flex;

        @include pad(){

            flex-wrap: nowrap;
                                
                        }
        
        @include ph6(){

            flex-wrap:wrap;
                                            
                        }





        li{
            width: 33%;
            display: flex;
            padding: 0.5em;



            @include ph6(){

                width: 100%;
                padding: 0em;
                padding-bottom: 2em;
                                
                        }

            .avatar{
                max-width:100%;
                margin-left: 0.5em;

                @include ph6(){

                    margin-left:1.5em;
                                    
                            }

            }

            .word-ava{
                width: 60%;
                margin:0 0.2em 0 1.5em;


            }

            p{
                color: $font-color;
                line-height: 22px;
            }
 
            .ID{
                margin-bottom:0.5em;
            }

            .rank{
                text-align: right;
            }

        }
        
    }



}


//地圖ＭＡＰ

.booking{

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color:#f6f4f3;
    .headline4{

        text-align: center;
        p{
            font-size:$font-b;
            color: $font-color;

        }


    }

    .info{
        margin: 0 auto;
        display: flex;
        padding: 1em 2em 1em 2em;


        @include ph6(){

            flex-direction: column;
                            
                    }
    }
    
        .map{
            max-width: 75%;

            @include ph6(){

            max-width:100%;
            margin-bottom: 1em;
                                
                        }
        }
    
    }




.form-login{
    max-width: 375px;
    margin:0 auto;
    border-radius: 2px;

    .inputwithIcon2{

        @include ph6(){

            padding-right:15px;
                                
                        }

    }




    p{
        color: $font-color;
        font-size:$font-l;
        font-weight:bold;
        text-align: center;

    }

    .pure-controls{
        text-align: center;

        @include ph6(){

            padding-right:22px;
                                
                        }

    }




    .pure-form-message{
        text-align: left;
        color: $font-color;
        font-size: $font-s;
    }
}
